<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhengyu.LiveStartDemo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".example.playerdemo.MApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".example.playerdemo.activity.HomeActivity"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".example.playerdemo.activity.VodActivity"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".example.playerdemo.activity.MobilePlayActivity"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- <activity -->
        <!-- android:name=".example.playerdemo.activity.SDKDescriptionDocActivity" -->
        <!-- android:configChanges="keyboard|screenSize|orientation|layoutDirection" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@android:style/Theme.NoTitleBar" > -->
        <!-- </activity> -->
        <activity
            android:name=".example.playerdemo.activity.ActivePlayActivity"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".example.playerdemo.activity.OtherActivity"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".example.playerdemo.activity.LiveActivity"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".example.playerdemo.activity.PlayActivity"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- <activity -->
        <!-- android:name="" -->
        <!-- android:configChanges="keyboard|screenSize|orientation|layoutDirection" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@android:style/Theme.NoTitleBar" > -->
        <!-- </activity> -->
        <activity
            android:name=".example.playerdemo.activity.PlayNoSkinActivity"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".example.playerdemo.test.SkinTest"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".example.playerdemo.activity.DownloadActivity"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".example.playerdemo.activity.AdPlayerViewActivity"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".example.playerdemo.activity.ListPlayerViewActivity"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".example.playerdemo.activity.MorePlayerActivity"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.lecloud.ad.WebViewActivity"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- Feed back Activity -->
        <activity
            android:name="com.letv.skin.activity.FeedBackActivity"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />

        <service
            android:name="com.letvcloud.cmf.MediaService"
            android:process=":cmf" />
        <service android:name="com.lecloud.download.control.LeDownloadService">
            <intent-filter>
                <action android:name="Ledownload.service.action" />
            </intent-filter>
        </service>

        <activity android:name=".MyView.MyHomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MyView.MyPlayActivity" />
        <activity android:name=".MyView.MyFirstActivity" />
        <activity android:name=".MyView.MyPushActivity"></activity>
    </application>

</manifest>